/* #appTitle {
  display: flex;
  align-items: center;
  gap: 12px;
} */

h1 {
  text-align: center;
  color: #00AA55;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  margin: 40px;

  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

button#openProject,
button#newProject {
  width: 35%;
  margin: 5px;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 12px;
  font-size: 20px;
}

button#openProject:hover,
button#newProject:hover {
  width: 36%;
  font-size: 20.5px;
  background-color: whitesmoke;
}

.form-popup {
  display: none;
  /* stays hidden until JS opens it */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  /* dark overlay */
  backdrop-filter: blur(3px);
  /* optional blur */

  justify-content: center;
  align-items: center;

  z-index: 999;
}

.form-container {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container h2,
label {
  font-family: Georgia, 'Times New Roman', Times, serif;
}