<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qaḍiyya</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='qadiyya_favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div id='top'>
        <a id="logo" href="/">qaḍiyya | قضية</a>
    </div>    
</head>
<body>
    <h1>Qaḍiyya | قضية</h1>
    <a href="/argument-editor">Go to argument editor</a>
</body>
</html>